<nav class="navbar navbar-expand-lg navbar-dark scrolling-navbar">
    <div class="container">

        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Wyszukaj" aria-label="Search">            
        </form>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto"></ul>
                        
            <ul class="navbar-nav nav-flex-icons btn-group">
                
                <li class="nav-item" >
                    <button routerLink="#" class="btn btn-primary">
                        Strona Główna
                    </button>
                </li>

                <li class="nav-item">
                    <button routerLink="#" class="btn btn-primary">
                        Wyszukiwarka
                    </button>
                </li>   

                <li class="nav-item">
                    <button routerLink="#" class="btn btn-primary">
                        Oferta
                    </button>
                </li> 

                <li class="nav-item">
                    <button routerLink="#" class="btn btn-primary">
                        Kontakt
                    </button>
                </li> 
            </ul>
        </div>
    </div>   
</nav>