body{   
  font-family: 'Poppins', sans-serif;
  top: -386.08941650390625px;
  left: -6031.142333984375px;
  background: transparent url('assets/svg/Path 1.svg') -40em -25em no-repeat padding-box; 
  opacity: 1;
  overflow-x: scroll;    
}
